<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />

    <title>Live</title>
  </head>
  <body>
    <section class="container">
      <main class="message-box">
        <div>
          <h1 class="heading-primary">Enter a message below</h1>
          <form action="/new" method="POST" class="input-form">
            <input type="text" name="msg" id="msg" class="input-field" />

            <button class="btn">Submit message</button>
          </form>
        </div>
        <div class="sub-msg">
          <h2 class="heading-secondary">Below are the messages</h2>
          <ul class="messages">
            <% for (let msg of messages){ %>
            <li class="message"><%= msg %></li>
            <% } %>
          </ul>
        </div>
      </main>
    </section>
  </body>
</html>
